@model QL_Kho.Models.Phieuxuat

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>TẠO PHIẾU XUẤT MỚI</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Ngày Lập Phiếu :
            <div class="col-md-10">
                @Html.TextBox("NgayLapPhieu", DateTime.Today, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
           Nhân Viên :
            <div class="col-md-10">
                @Html.EditorFor(model => model.NhanVien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NhanVien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

