@model QL_Kho.Models.Diadiem

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>ĐIỀU CHỈNH THÔNG TIN ĐỊA ĐIỂM</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaDD)

        <div class="form-group">
           Tên địa điểm:
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Quản Lí địa điểm:
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quanly, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quanly, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
